<div class="header bg-gradient-danger pb-7 pt-6 pt-md-6">

</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <div class="row">
                        <div class="col">
                            <h2 class="mb-0">Data Cluster</h2>
                        </div>
                        <div class="col text-right">
                            <button class="btn btn-sm btn-primary" (click)="back()">Back To Data CLuster</button>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="container-fluid">
                    <h3 class="mb-0"># Standar Aset Kluster</h3>
                    <hr style="margin-bottom: 1rem; border-top: 1px solid  #5a5353;">
                    <div class="container">
                        <table class="table table-bordered">
                            <thead class="thead-dark">
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Kluster</th>
                                <th scope="col">Jenis</th>
                                <th scope="col">Prosesor</th>
                                <th scope="col">RAM</th>
                                <th scope="col">HDD</th>
                                <th scope="col">Option</th>
                              </tr>
                            </thead>
                            <tbody *ngIf="responseStatus">
                              <tr *ngFor="let kluster of klusters; index as i;">
                                <td>{{i+1}}</td>
                                <td>{{kluster.klasifikasi}}</td>
                                <td>{{kluster.category}}</td>
                                <td>{{kluster.prosesor}}</td>
                                <td>{{kluster.ram}} GB</td>
                                <td>{{kluster.hdd}} GB</td>
                                <td><button class="btn btn-sm btn-success" (click)="getDetail(kluster.klasifikasi)">Detail</button></td>
    
                              </tr>
                              
                            </tbody>
                          </table>
                          <br><br>
                    </div>
                    
                    <div class="container-fluid" *ngIf="detailStatus">
                        <div class="row">
                            <div class="col">
                                <h3 class="mb-0"> # Detail Standar Spec Perangkat</h3>
                            </div>
                            <div class="col text-right">
                                <button class="btn btn-sm btn-primary" (click)="hide()">Hide</button>
                            </div>
                        </div>                        
                        <hr style="margin-bottom: 1rem; border-top: 1px solid  #5a5353;">

                        <fieldset disabled>
                            <form>
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label for="inputEmail4  row-sm-3 col-form-label col-form-label-sm">Jenis</label>
                                        <input type="text" class="form-control  form-control-sm" id="inputEmail4" value="{{sigleCluster.category}}">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="inputPassword4 col-sm-3 col-form-label col-form-label-sm">System</label>
                                        <input type="text" class="form-control  form-control-sm" id="inputPassword4" value="{{sigleCluster.os}}">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label for="inputEmail4  row-sm-3 col-form-label col-form-label-sm">Prosesor</label>
                                        <input type="text" class="form-control  form-control-sm" id="inputEmail4" value="{{sigleCluster.prosesor}}">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label
                                            for="inputPassword4 col-sm-3 col-form-label col-form-label-sm">RAM</label>
                                        <input type="text" class="form-control  form-control-sm" id="inputPassword4" value="{{sigleCluster.ram}}">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label for="inputEmail4  row-sm-3 col-form-label col-form-label-sm">Storage
                                            system</label>
                                        <input type="text" class="form-control  form-control-sm" id="inputEmail4" value="{{sigleCluster.hdd}}">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="inputEmail4  row-sm-3 col-form-label col-form-label-sm">Monitor</label>
                                        <input type="text" class="form-control  form-control-sm" id="inputEmail4" value="{{sigleCluster.monitor}}">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label for="inputEmail4  row-sm-3 col-form-label col-form-label-sm">WIFI</label>
                                        <input type="text" class="form-control  form-control-sm" id="inputEmail4" value="{{sigleCluster.wifi}}">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="inputEmail4  row-sm-3 col-form-label col-form-label-sm">Interface</label>
                                        <input type="text" class="form-control  form-control-sm" id="inputEmail4" value="{{sigleCluster.antarmuka}}">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label for="inputEmail4  row-sm-3 col-form-label col-form-label-sm">Mouse</label>
                                        <input type="text" class="form-control  form-control-sm" id="inputEmail4" value="{{sigleCluster.mouse}}">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label
                                            for="inputEmail4  row-sm-3 col-form-label col-form-label-sm">Keyboard</label>
                                        <input type="text" class="form-control  form-control-sm" id="inputEmail4" value="{{sigleCluster.keyboard}}">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label for="inputEmail4  row-sm-3 col-form-label col-form-label-sm">Garansi</label>
                                        <input type="text" class="form-control  form-control-sm" id="inputEmail4" value="{{sigleCluster.garansi}}">
                                    </div>
                                    
                                </div>

                            </form>
                        </fieldset>

                    </div>    
                    
                </div>
            </div>
        </div>
    </div>

</div>