<div class="header bg-gradient-danger pb-7 pt-6 pt-md-6">

</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <div class="row">
                        <div class="col">
                            <h2 class="mb-0">Data Pengelola Aset</h2>
                        </div>
                        <div class="col text-right">
                            <button class="btn btn-sm btn-primary" (click)="tambahData()">Tambah Pengelola</button>
                        </div>
                    </div>
                    <hr>
   

                <div class="container .container-md">

                    <table *ngIf="responseVAL" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                        class="row-border hover">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Owner</th>
                                <th>Pengelola</th>
                                <th>Option</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of pengelola; index as i; let end = last">
                                <td>{{i+1}}</td>
                                <td>{{ item.nama }}</td>
                                <td class="tex-center">{{item.pengelola}}</td>
                                <td>
                                   <button class="btn btn-sm btn-warning" (click)="editData(item.id)">Edit</button>
                                   <button class="btn btn-sm btn-danger" (click)="deleteData(item.id)">Delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

</div>
