hr {
    margin-top: 1rem;
    margin-bottom: 0rem;
    border: 0;
    border-top: 1px solid #f5365c;
    
}
label {
    display: inline-block;
    margin-bottom: 0.5rem;
    font-size: 15px;
    color: #172b4d;
}
.form-control {
    font-size: 0.875rem;
    color:#172b4d;
border-color:#172b4d;
}
.table thead th {
    padding-top: 15px;
    padding-bottom: 0.75rem;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 1px solid #be0e0e;
}

.table .thead-dark th {
    background-color: #39383d;
    color: #f8f9fe;
}
.table{
    table-layout: fixed;
}
.table td, .table th {
    font-size: 0.8125rem;
    white-space: pre-wrap;
}