<div class="header bg-gradient-danger pb-7 pt-6 pt-md-6">

</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <div class="row">
                        <div class="col">
                            <h2 class="mb-0">Detail Kluster</h2>
                        </div>
                        <div class="col text-right">
                            <button class="btn btn-sm btn-primary" (click)="back()">Back To Data Kluster</button>

                        </div>
                    </div>
                    <hr>
                </div>
                <div class="container-fluid" *ngIf="responseStatus0">
                    <h3 class="mb-0"> # Profile</h3>
                    <hr style="margin-bottom: 1rem; border-top: 1px solid  #5a5353;">
                    <fieldset disabled >
                        <form>
                            <div class="form-row">
                                <div class="form-group col-md-5">
                                    <label for="inputEmail4  row-sm-3 col-form-label col-form-label-sm">Nama</label>
                                    <input type="text" class="form-control  form-control-sm" id="inputEmail4"
                                        value="{{datas.nama}}">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputPassword4 col-sm-3 col-form-label col-form-label-sm">Nip</label>
                                    <input type="text" class="form-control  form-control-sm" id="inputPassword4"
                                        value="{{datas.nip}}">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-5">
                                    <label for="inputEmail4  row-sm-3 col-form-label col-form-label-sm">Email</label>
                                    <input type="text" class="form-control  form-control-sm" id="inputEmail4"
                                        value="{{datas.email}}">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputPassword4 col-sm-3 col-form-label col-form-label-sm">Bidang</label>
                                    <input type="text" class="form-control  form-control-sm" id="inputPassword4"
                                        value="{{datas.nama_bidang}}">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label
                                        for="inputEmail4  row-sm-3 col-form-label col-form-label-sm">Deskripsi</label>
                                    <input type="text" class="form-control  form-control-sm" id="inputEmail4"
                                        value="{{datas.deskripsi}}">
                                </div>
                            </div>

                        </form>
                    </fieldset>
                </div>
                <div class="container-fluid" >
                    <div class="row">
                        <div class="col">
                            <h3 class="mb-0"> #Detail Kluster</h3>
                        </div>
                        <div class="col text-right">
                            <button class="btn btn-sm {{btnDetailType}}" (click)="btnDetailAct()">{{btnDetail}}</button>
                        </div>
                    </div>                        
                    <hr style="margin-bottom: 1rem; border-top: 1px solid  #5a5353;">

                    <fieldset disabled>
                        <form *ngIf="responseStatus1">
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="inputEmail4  row-sm-3 col-form-label col-form-label-sm">Kluster Sebelumnya</label>
                                    <input type="text" class="form-control  form-control-sm" id="inputEmail4" value="{{datas.cluster}}">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputPassword4 col-sm-3 col-form-label col-form-label-sm">Kluster</label>
                                    <input type="text" class="form-control  form-control-sm" id="inputPassword4" value="{{datas.cluster_recomended}}">
                                </div>
                            </div>
                        </form>
                    </fieldset>
                </div>
                <div class="container-fluid" >
                    <div class="row">
                        <div class="col">
                            <h3 class="mb-0"> # Detail Standar Spec Kluster</h3>
                        </div>
                        <div class="col text-right">
                            <button class="btn btn-sm {{btnDetailSpecType}}" (click)="btnDetailSpecAct()">{{btnDetailSpec}}</button>
                        </div>
                    </div>                        
                    <hr style="margin-bottom: 1rem; border-top: 1px solid  #5a5353;">

                    <fieldset disabled>
                        <form *ngIf="responseStatus2">
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="inputEmail4  row-sm-3 col-form-label col-form-label-sm">Jenis</label>
                                    <input type="text" class="form-control  form-control-sm" id="inputEmail4" value="{{cluster.category}}">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputPassword4 col-sm-3 col-form-label col-form-label-sm">System</label>
                                    <input type="text" class="form-control  form-control-sm" id="inputPassword4" value="{{cluster.os}}">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="inputEmail4  row-sm-3 col-form-label col-form-label-sm">Prosesor</label>
                                    <input type="text" class="form-control  form-control-sm" id="inputEmail4" value="{{cluster.prosesor}}">
                                </div>
                                <div class="form-group col-md-4">
                                    <label
                                        for="inputPassword4 col-sm-3 col-form-label col-form-label-sm">RAM</label>
                                    <input type="text" class="form-control  form-control-sm" id="inputPassword4" value="{{cluster.ram}}">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="inputEmail4  row-sm-3 col-form-label col-form-label-sm">Storage
                                        system</label>
                                    <input type="text" class="form-control  form-control-sm" id="inputEmail4" value="{{cluster.hdd}}">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputEmail4  row-sm-3 col-form-label col-form-label-sm">Monitor</label>
                                    <input type="text" class="form-control  form-control-sm" id="inputEmail4" value="{{cluster.monitor}}">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="inputEmail4  row-sm-3 col-form-label col-form-label-sm">WIFI</label>
                                    <input type="text" class="form-control  form-control-sm" id="inputEmail4" value="{{cluster.wifi}}">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputEmail4  row-sm-3 col-form-label col-form-label-sm">Interface</label>
                                    <input type="text" class="form-control  form-control-sm" id="inputEmail4" value="{{cluster.antarmuka}}">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="inputEmail4  row-sm-3 col-form-label col-form-label-sm">Mouse</label>
                                    <input type="text" class="form-control  form-control-sm" id="inputEmail4" value="{{cluster.mouse}}">
                                </div>
                                <div class="form-group col-md-4">
                                    <label
                                        for="inputEmail4  row-sm-3 col-form-label col-form-label-sm">Keyboard</label>
                                    <input type="text" class="form-control  form-control-sm" id="inputEmail4" value="{{cluster.keyboard}}">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="inputEmail4  row-sm-3 col-form-label col-form-label-sm">Garansi</label>
                                    <input type="text" class="form-control  form-control-sm" id="inputEmail4" value="{{cluster.garansi}}">
                                </div>
                                
                            </div>

                        </form>
                    </fieldset>

                </div>  
                <div class="container-fluid" >
                    <div class="row">
                        <div class="col">
                            <h3 class="mb-0"> #Detail Aset</h3>
                        </div>
                        <div class="col text-right">
                            <button class="btn btn-sm {{btnDetailPerangkatType}}" (click)=" btnDetailPerangkatAct()">{{btnDetailPerangkat}}</button>
                        </div>
                    </div>                        
                    <hr style="margin-bottom: 1rem; border-top: 1px solid  #5a5353;">

                    <fieldset disabled>
                        <form *ngIf="responseStatus3">
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="inputEmail4  row-sm-3 col-form-label col-form-label-sm">Jenis</label>
                                    <input type="text" class="form-control  form-control-sm" id="inputEmail4" value="{{datas.jenis}}">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputPassword4 col-sm-3 col-form-label col-form-label-sm">Merk</label>
                                    <input type="text" class="form-control  form-control-sm" id="inputPassword4" value="{{datas.merk}}">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="inputEmail4  row-sm-3 col-form-label col-form-label-sm">Type</label>
                                    <input type="text" class="form-control  form-control-sm" id="inputEmail4" value="{{datas.type}}">
                                </div>
                                <div class="form-group col-md-4">
                                    <label
                                        for="inputPassword4 col-sm-3 col-form-label col-form-label-sm">Prosesor</label>
                                    <input type="text" class="form-control  form-control-sm" id="inputPassword4" value="{{datas.prosesor}}">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="inputEmail4  row-sm-3 col-form-label col-form-label-sm">Operating
                                        system</label>
                                    <input type="text" class="form-control  form-control-sm" id="inputEmail4" value="{{datas.os}}">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputEmail4  row-sm-3 col-form-label col-form-label-sm">RAM</label>
                                    <input type="text" class="form-control  form-control-sm" id="inputEmail4" value="{{datas.ram}}">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="inputEmail4  row-sm-3 col-form-label col-form-label-sm">HDD</label>
                                    <input type="text" class="form-control  form-control-sm" id="inputEmail4" value="{{datas.hdd}}">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputEmail4  row-sm-3 col-form-label col-form-label-sm">VGA</label>
                                    <input type="text" class="form-control  form-control-sm" id="inputEmail4" value="{{datas.vga}}">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="inputEmail4  row-sm-3 col-form-label col-form-label-sm">Monitor</label>
                                    <input type="text" class="form-control  form-control-sm" id="inputEmail4" value="{{datas.monitor}}">
                                </div>
                                <div class="form-group col-md-4">
                                    <label
                                        for="inputEmail4  row-sm-3 col-form-label col-form-label-sm">Antarmuka</label>
                                    <input type="text" class="form-control  form-control-sm" id="inputEmail4" value="{{datas.antarmuka}}">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="inputEmail4  row-sm-3 col-form-label col-form-label-sm">MAC
                                        Address</label>
                                    <input type="text" class="form-control  form-control-sm" id="inputEmail4" value="{{datas.mac_address}}">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputEmail4  row-sm-3 col-form-label col-form-label-sm">Tahun
                                        Pembuatan</label>
                                    <input type="text" class="form-control  form-control-sm" id="inputEmail4" value="{{datas.tahun_pembuatan}}">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="inputEmail4  row-sm-3 col-form-label col-form-label-sm">Garansi</label>
                                    <input type="text" class="form-control  form-control-sm" id="inputEmail4" value="{{datas.garansi}}">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputEmail4  row-sm-3 col-form-label col-form-label-sm">Status</label>
                                    <input type="text" class="form-control  form-control-sm" id="inputEmail4" value="{{datas.status_perangkat}}">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="inputEmail4  row-sm-3 col-form-label col-form-label-sm">Tahun Awal
                                        Operasi</label>
                                    <input type="text" class="form-control  form-control-sm" id="inputEmail4" value="{{datas.tahun_awal_operasi}}">
                                </div>
                                
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="inputEmail4  row-sm-3 col-form-label col-form-label-sm">Pemilik</label>
                                    <input type="text" class="form-control  form-control-sm" id="inputEmail4" value="{{datas.owner}}">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputEmail4  row-sm-3 col-form-label col-form-label-sm">Pengelola</label>
                                    <input type="text" class="form-control  form-control-sm" id="inputEmail4" value="{{datas.pengelola}}">
                                </div>

                            </div>
                        </form>
                    </fieldset>

                </div> 
            </div>
        </div>
    </div>

</div>