<div class="header bg-gradient-danger pb-7 pt-6 pt-md-6">

</div>

<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <div class="row">
                        <div class="col">
                            <h2 class="mb-0">Data Pegawai</h2>
                        </div>
                        <div class="col text-right">
                            <button class="btn btn-sm btn-primary" (click)= "addData()">Tambah Data</button>
                        </div>
                    </div>
                    <hr>
                <div class="container .container-md">
                    <table *ngIf="responseVAL" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                        class="row-border hover">
                        <thead>
                            <tr>
                                <th>Nama</th>
                                <th>NIP</th>
                                <th>Email</th>
                                <th>Option</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let pegawai of Pegawais">
                                <td>{{ pegawai.nama }}</td>
                                <td>{{ pegawai.nip }}</td>
                                <td>{{ pegawai.email }}</td>
                                <td><button class="btn btn-sm btn-primary" (click)="getDetail(pegawai.id)">Detail</button>
                                    <button class="btn btn-sm btn-warning" (click)="editData(pegawai.id)" >Edit</button>
                                    <button class="btn btn-sm btn-danger"  (click)="deleteData(pegawai.id)">Delete</button>
                                    <!-- {{ pegawai.bidang }} -->
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>

            </div>
        </div>
    </div>

</div>


