<div class="header bg-gradient-danger py-7 py-lg-8">

  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>

<!-- Page content -->
<div class="container mt--8 pb-5">


  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      
      <div class="card bg-secondary shadow border-0">
        <div class="card-header bg-transparent pb-2">
          <h1 class="display-4 ">Login</h1>
        </div>
        <div class="card-body px-lg-5 py-lg-5">
          <!-- <div class="text-center text-muted mb-4">
            <small>Or sign in with credentials</small>
          </div> -->

          <form role="form">
            
            <div class="form-group mb-3">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-circle-08"></i></span>
                </div>
                <input class="form-control" placeholder="Username" type="text" [(ngModel)]="User.username"
                  [ngModelOptions]="{standalone: true}">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                </div>
                <input class="form-control" placeholder="Password" type="password" [(ngModel)]="User.password"
                  [ngModelOptions]="{standalone: true}">
              </div>
            </div>
            <!-- <div class="custom-control custom-control-alternative custom-checkbox">
              <input class="custom-control-input" id=" customCheckLogin" type="checkbox">
              <label class="custom-control-label" for=" customCheckLogin">
                <span class="text-muted">Remember me</span>
              </label>
            </div> -->
            <!-- <span *ngIf="invalidLogin" pt-3 style="color:rgb(255, 0, 43)">* Username atau password salah !</span> -->
            <div class="alert alert-danger" *ngIf="invalidLogin">Username atau Password Salah !</div>
            <div class="text-center">
              <button type="button" class="btn btn-primary my-4" (click)=login()>Sign in</button>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>