<div class="header bg-gradient-danger pb-7 pt-6 pt-md-6">

</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <div class="row">
                        <div class="col">
                            <h2 class="mb-0">Klasifikasi Perangkat</h2>
                        </div>
                        <div class="col text-right">
                            <button class="btn btn-sm btn-primary" (click)="getDetail()">Lihat Jenis Cluster</button>
                            <button class="btn btn-sm btn-warning" (click)="getUpdate()">Update Data</button>
                        </div>
                    </div>
                    <hr>
                    
                <div class="container .container-md">
                    <div class="d-flex justify-content-center" *ngIf="onUpdate">Updating Data ...</div>
  
                    <div class="d-flex justify-content-center" *ngIf="updatefailed ">Update Gagal...</div>
                    <div class="d-flex justify-content-center" *ngIf="updatefailed "><button class="btn btn-sm btn primary" (click)="tampilDataSebelumnya()">Tampilkan Data Sebelumnya</button>.</div>
                    
                </div>    

                <div class="container .container-md">

                    <table  *ngIf="responseStatus"datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                        class="row-border hover">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Nama</th>
                                <th>Jenis Aset</th>
                                <th>Merk</th>
                                <th>Type</th>
                                <th>Cluster</th>
                                <th>Status</th>
                                <th>Option</th>    
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of dataKlasifikasis; index as i; let end = last">
                                <td>{{i+1}}</td>
                                <td>{{ item.pengguna }}</td>
                                <td>{{ item.jenis }}</td>
                                <td>{{ item.merk }}</td>
                                <td>{{ item.type }}</td>
                                <td>Before : {{ item.curentCluster}} <br> After : {{item.recomendedCluster }}</td>
                                <td>
                                    <i *ngIf="getStatus(item.curentCluster,item.recomendedCluster) === 0" class="fas fa-arrow-down text-warning" title="Recomended Downgrade To Cluster - {{item.recomendedCluster }}"></i>
                                    <i *ngIf="getStatus(item.curentCluster,item.recomendedCluster) === 1" class="fas fa-arrow-up text-success" title="Recomended Upgrade To Cluster - {{item.recomendedCluster }}"></i>
                                    <i *ngIf="getStatus(item.curentCluster,item.recomendedCluster) === 2" class="ni ni-check-bold text-info" title="Already in Standard"></i>
                                </td>
                                
                                <td><button class="btn btn-success btn-sm" (click)="getDetailData(item.idPerangkat, item.recomendedCluster)">Lihat</button></td>
                                <!-- <td>{{ pegawai.nip }}</td>
                                <td>{{ pegawai.email }}</td>
                                <td><button class="btn btn-sm btn-primary" (click)="getDetail(pegawai.id)">Detail</button>
                                    <button class="btn btn-sm btn-warning" value="{{pegawai.id}}" >Edit</button>
                                    <button class="btn btn-sm btn-danger" >Delete</button>

                                </td> -->
                                <!-- {{end ? resetStatus(i) : ''}} -->
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

</div>