<div class="header bg-gradient-danger pb-7 pt-6 pt-md-6">

</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <div class="row">
                        <div class="col">
                            <h2 class="mb-0">Detail Pegawai</h2>
                        </div>
                        <div class="col text-right">
                            <button class="btn btn-sm btn-primary" (click)="back()">Back To Data Pegawai</button>
                            <button class="btn btn-sm btn-warning">Edit</button>
                            <button class="btn btn-sm btn-danger">Delete</button>

                        </div>
                    </div>
                    <hr>
                </div>
                <div class="container-fluid">
                    <h3 class="mb-0"> # Profile</h3>
                    <hr style="margin-bottom: 1rem; border-top: 1px solid  #5a5353;">
                    <fieldset disabled>
                        <form>
                            <div class="form-row">
                                <div class="form-group col-md-5">
                                    <label for="inputEmail4  row-sm-3 col-form-label col-form-label-sm">Nama</label>
                                    <input type="text" class="form-control  form-control-sm" id="inputEmail4"
                                        value="{{pegawai.nama}}">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputPassword4 col-sm-3 col-form-label col-form-label-sm">Nip</label>
                                    <input type="text" class="form-control  form-control-sm" id="inputPassword4"
                                        value="{{pegawai.nip}}">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-5">
                                    <label for="inputEmail4  row-sm-3 col-form-label col-form-label-sm">Email</label>
                                    <input type="text" class="form-control  form-control-sm" id="inputEmail4"
                                        value="{{pegawai.email}}">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputPassword4 col-sm-3 col-form-label col-form-label-sm">Bidang</label>
                                    <input type="text" class="form-control  form-control-sm" id="inputPassword4"
                                        value="{{bidang.nama_bidang}}">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label
                                        for="inputEmail4  row-sm-3 col-form-label col-form-label-sm">Deskripsi</label>
                                    <input type="text" class="form-control  form-control-sm" id="inputEmail4"
                                        value="{{pegawai.deskripsi}}">
                                </div>

                            </div>

                        </form>
                    </fieldset>
                </div>
                <div class="container-fluid">
                    <h3 class="mb-0"># Aset</h3>
                    <hr style="margin-bottom: 1rem; border-top: 1px solid  #5a5353;">
                    <div class="container">
                        <table class="table table-bordered">
                            <thead class="thead-dark">
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Jenis</th>
                                <th scope="col">Merk</th>
                                <th scope="col">RAM</th>
                                <th scope="col">HDD</th>
                                <th scope="col">System</th>
                                <th scope="col">Option</th>
                              </tr>
                            </thead>
                            <tbody *ngIf="perangkatResponseStatus">
                              <tr *ngFor="let perangkat of perangkats">
                                <th scope="row">#</th>
                                <td>{{perangkat.jenis}}</td>
                                <td>{{perangkat.merk}}</td>
                                <td>{{perangkat.ram}}</td>
                                <td>{{perangkat.hdd}}</td>
                                <td>{{perangkat.os}}</td>
                                <td><button class="btn btn-sm btn-success" (click)="getDetailPC(perangkat.id)">Detail</button></td>
    
                              </tr>
                              
                            </tbody>
                          </table>
                          <br><br>
                    </div>
                    
                    <div class="container-fluid" *ngIf="getDetailForPC">
                        <div class="row">
                            <div class="col">
                                <h3 class="mb-0"> # Detail Perangkat</h3>
                            </div>
                            <div class="col text-right">
                                <button class="btn btn-sm btn-primary" (click)="hide()">Hide</button>
                            </div>
                        </div>                        
                        <hr style="margin-bottom: 1rem; border-top: 1px solid  #5a5353;">

                        <fieldset disabled>
                            <form>
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label for="inputEmail4  row-sm-3 col-form-label col-form-label-sm">Jenis</label>
                                        <input type="text" class="form-control  form-control-sm" id="inputEmail4" value="{{perangkat.jenis}}">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="inputPassword4 col-sm-3 col-form-label col-form-label-sm">Merk</label>
                                        <input type="text" class="form-control  form-control-sm" id="inputPassword4" value="{{perangkat.merk}}">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label for="inputEmail4  row-sm-3 col-form-label col-form-label-sm">Type</label>
                                        <input type="text" class="form-control  form-control-sm" id="inputEmail4" value="{{perangkat.type}}">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label
                                            for="inputPassword4 col-sm-3 col-form-label col-form-label-sm">Prosesor</label>
                                        <input type="text" class="form-control  form-control-sm" id="inputPassword4" value="{{perangkat.prosesor}}">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label for="inputEmail4  row-sm-3 col-form-label col-form-label-sm">Operating
                                            system</label>
                                        <input type="text" class="form-control  form-control-sm" id="inputEmail4" value="{{perangkat.os}}">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="inputEmail4  row-sm-3 col-form-label col-form-label-sm">RAM</label>
                                        <input type="text" class="form-control  form-control-sm" id="inputEmail4" value="{{perangkat.ram}}">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label for="inputEmail4  row-sm-3 col-form-label col-form-label-sm">HDD</label>
                                        <input type="text" class="form-control  form-control-sm" id="inputEmail4" value="{{perangkat.hdd}}">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="inputEmail4  row-sm-3 col-form-label col-form-label-sm">VGA</label>
                                        <input type="text" class="form-control  form-control-sm" id="inputEmail4" value="{{perangkat.vga}}">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label for="inputEmail4  row-sm-3 col-form-label col-form-label-sm">Monitor</label>
                                        <input type="text" class="form-control  form-control-sm" id="inputEmail4" value="{{perangkat.monitor}}">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label
                                            for="inputEmail4  row-sm-3 col-form-label col-form-label-sm">Antarmuka</label>
                                        <input type="text" class="form-control  form-control-sm" id="inputEmail4" value="{{perangkat.antarmuka}}">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label for="inputEmail4  row-sm-3 col-form-label col-form-label-sm">MAC
                                            Address</label>
                                        <input type="text" class="form-control  form-control-sm" id="inputEmail4" value="{{perangkat.mac_address}}">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="inputEmail4  row-sm-3 col-form-label col-form-label-sm">Tahun
                                            Pembuatan</label>
                                        <input type="text" class="form-control  form-control-sm" id="inputEmail4" value="{{perangkat.tahun_pembuatan}}">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label for="inputEmail4  row-sm-3 col-form-label col-form-label-sm">Garansi</label>
                                        <input type="text" class="form-control  form-control-sm" id="inputEmail4" value="{{perangkat.garansi}}">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="inputEmail4  row-sm-3 col-form-label col-form-label-sm">Status</label>
                                        <input type="text" class="form-control  form-control-sm" id="inputEmail4" value="{{perangkat.status_perangkat}}">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label for="inputEmail4  row-sm-3 col-form-label col-form-label-sm">Tahun Awal
                                            Operasi</label>
                                        <input type="text" class="form-control  form-control-sm" id="inputEmail4" value="{{perangkat.tahun_awal_operasi}}">
                                    </div>
                                    
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label for="inputEmail4  row-sm-3 col-form-label col-form-label-sm">Pemilik</label>
                                        <input type="text" class="form-control  form-control-sm" id="inputEmail4" value="{{pemilik.nama}}">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="inputEmail4  row-sm-3 col-form-label col-form-label-sm">Pengelola</label>
                                        <input type="text" class="form-control  form-control-sm" id="inputEmail4" value="{{pemilik.pengelola}}">
                                    </div>
    
                                </div>
                            </form>
                        </fieldset>

                    </div>    
                    
                </div>
            </div>
        </div>
    </div>

</div>