<div class="header bg-gradient-danger pb-7 pt-6 pt-md-6">

</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <div class="row">
                        <div class="col">
                            <h2 class="mb-0">{{title}}</h2>
                        </div>
                        <div class="col text-right">
                            <button class="btn btn-sm btn-primary" (click)="back()">Kembali Ke Data Bidang</button>

                        </div>
                    </div>
                    <hr>
                </div>
                <!-- //ADD DATA -->
                <div class="alert alert-warning" *ngIf="addFail">{{invalidMessage}}</div>
                <div  *ngIf="addStatus">
                    <div class="container-fluid">
                        <h3 class="mb-0"> # Profile</h3>
                        <hr style="margin-bottom: 1rem; border-top: 1px solid  #5a5353;">
                        <fieldset>
                            <form>
                                <div class="form-row">
                                    <div class="form-group col-md-5">
                                        <label for="inputEmail4  row-sm-3 col-form-label col-form-label-sm">Nama</label>
                                        <input type="text" [(ngModel)] ="pegawai.nama" name="nama" class="form-control  form-control-sm text-body">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label
                                            for="inputPassword4 col-sm-3 col-form-label col-form-label-sm">Nip</label>
                                        <input type="text" [(ngModel)] ="pegawai.nip" name="nip" class="form-control  form-control-sm text-body">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-5">
                                        <label
                                            for="inputEmail4  row-sm-3 col-form-label col-form-label-sm">Email</label>
                                        <input type="text" [(ngModel)] ="pegawai.email" name="email" class="form-control  form-control-sm text-body">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <fieldset>
                                            <label
                                                for="inputPassword4 col-sm-3 col-form-label col-form-label-sm">Bidang</label>
                                            <input type="text" class="form-control  form-control-sm text-body"
                                                (click)="showBidang()" value="{{bidangName}}" readonly>
                                        </fieldset>
                                    </div>
                                </div>
                            </form>
                        </fieldset>

                        <!-- // form pilih bidang -->
                        <div class="container-fluid border border-danger rounded bg-select" *ngIf="selectBidang">
                            <h3 class="mb-0"># Bidang</h3>
                            <hr style="margin-bottom: 1rem; border-top: 1px solid  #5a5353;">
                            <div class="container">
                                <table datatable [dtOptions]="dtOptionsBidang" [dtTrigger]="dtTrigger"
                                    class="row-border hover">
                                    <thead>
                                        <tr>
                                            <th>No</th>
                                            <th>Nama Bidang</th>
                                            <th>Keterangan</th>
                                            <th>Option</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of bidangs; index as i; let end = last">
                                            <td>{{i+1}}</td>
                                            <td>{{ item.nama_bidang }}</td>
                                            <td class="tex-center">-</td>
                                            <td>
                                                <button class="btn btn-sm btn-warning"
                                                    (click)="selectBidangId(item.id, item.nama_bidang)">Pilih</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <br><br>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputEmail4  row-sm-3 col-form-label col-form-label-sm"
                                    disable>Deskripsi</label>
                                <input type="text" class="form-control  form-control-sm text-body">
                            </div>
                        </div>
                    </div>

                    <!-- Aset -->
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col">
                                <h3 class="mb-0"> # Perangkat</h3>
                            </div>
                            <div class="col text-right">
                                <button class="btn btn-sm {{perangkatBtn}}"
                                    (click)="showHideAset()">{{perangkatTitle}}</button>
                            </div>
                        </div>
                        <hr style="margin-bottom: 1rem; border-top: 1px solid  #5a5353;">

                        <fieldset>
                            <form *ngIf="showPerangkat">
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label
                                            for="inputEmail4  row-sm-3 col-form-label col-form-label-sm">Jenis</label>
                                        <input type="text" [(ngModel)] ="perangkat.jenis" name="jenis" class="form-control  form-control-sm text-body"
                                            value="{{perangkat.jenis}}">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label
                                            for="inputPassword4 col-sm-3 col-form-label col-form-label-sm">Merk</label>
                                        <input type="text" class="form-control  form-control-sm text-body"
                                        [(ngModel)] ="perangkat.merk" name="merk" value="{{perangkat.merk}}">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label for="inputEmail4  row-sm-3 col-form-label col-form-label-sm">Type</label>
                                        <input type="text"  class="form-control  form-control-sm text-body"
                                        [(ngModel)] ="perangkat.type" name="type" value="{{perangkat.type}}">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label
                                            for="inputPassword4 col-sm-3 col-form-label col-form-label-sm">Prosesor</label>
                                        <input type="text" class="form-control  form-control-sm text-body"
                                        [(ngModel)] ="perangkat.prosesor" name="prosesor" value="{{perangkat.prosesor}}">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label for="inputEmail4  row-sm-3 col-form-label col-form-label-sm">Operating
                                            system</label>
                                        <input type="text" class="form-control  form-control-sm text-body"
                                        [(ngModel)] ="perangkat.os" name="os" value="{{perangkat.os}}">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="inputEmail4  row-sm-3 col-form-label col-form-label-sm">RAM</label>
                                        <input type="number" class="form-control  form-control-sm text-body"
                                        [(ngModel)] ="perangkat.ram" name="ram" value="{{perangkat.ram}}">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label for="inputEmail4  row-sm-3 col-form-label col-form-label-sm">HDD</label>
                                        <input type="number" class="form-control  form-control-sm text-body"
                                        [(ngModel)] ="perangkat.hdd" name="hdd" value="{{perangkat.hdd}}">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="inputEmail4  row-sm-3 col-form-label col-form-label-sm">VGA</label>
                                        <input type="text" class="form-control  form-control-sm text-body"
                                        [(ngModel)] ="perangkat.vga" name="vga" value="{{perangkat.vga}}">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label
                                            for="inputEmail4  row-sm-3 col-form-label col-form-label-sm">Monitor</label>
                                        <input type="text" class="form-control  form-control-sm text-body"
                                        [(ngModel)] ="perangkat.monitor" name="monitor" value="{{perangkat.monitor}}">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label
                                            for="inputEmail4  row-sm-3 col-form-label col-form-label-sm">Antarmuka</label>
                                        <input type="text" class="form-control  form-control-sm text-body"
                                        [(ngModel)] ="perangkat.antarmuka" name="antarmuka" value="{{perangkat.antarmuka}}">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label for="inputEmail4  row-sm-3 col-form-label col-form-label-sm">MAC
                                            Address</label>
                                        <input type="text" class="form-control  form-control-sm text-body"
                                        [(ngModel)] ="perangkat.mac_address" name="mac_address" value="{{perangkat.mac_address}}">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="inputEmail4  row-sm-3 col-form-label col-form-label-sm">Tahun
                                            Pembuatan</label>
                                        <input type="number" class="form-control  form-control-sm text-body"
                                        [(ngModel)] ="perangkat.tahun_pembuatan" name="tahun_pembuatan" value="{{perangkat.tahun_pembuatan}}">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label
                                            for="inputEmail4  row-sm-3 col-form-label col-form-label-sm">Garansi</label>
                                        <input type="text" class="form-control  form-control-sm text-body"
                                        [(ngModel)] ="perangkat.garansi" name="garansi" value="{{perangkat.garansi}}">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label
                                            for="inputEmail4  row-sm-3 col-form-label col-form-label-sm">Status</label>
                                        <!-- <input type="text" class="form-control  form-control-sm text-body"
                                            value="{{perangkat.status_perangkat}}"> -->
                                            <select [(ngModel)] ="perangkat.status_perangkat"  name="status" class="form-control form-control-sm text-body" >
                                                <option>BELI</option>
                                                <option>SEWA</option>
                                              </select>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label for="inputEmail4  row-sm-3 col-form-label col-form-label-sm">Tahun Awal
                                            Operasi</label>
                                        <input type="number" class="form-control  form-control-sm text-body"
                                        [(ngModel)] ="perangkat.tahun_awal_operasi" name="tahun_awal_operasi" value="{{perangkat.tahun_awal_operasi}}">
                                    </div>

                                </div>
                            </form>
                        </fieldset>
                    </div>

                    <div class="container-fluid">
                        <div class="row">
                            <div class="col">
                                <h3 class="mb-0"> # Pengelola</h3>
                            </div>
                            <div class="col text-right">
                                <button class="btn btn-sm {{pengelolaBtn}}"
                                    (click)="showHidePengelola()">{{pengelolaTitle}}</button>
                            </div>
                        </div>
                        <hr style="margin-bottom: 1rem; border-top: 1px solid  #5a5353;">

                        <fieldset>
                            <form *ngIf="showPengelola">
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label
                                            for="inputEmail4  row-sm-3 col-form-label col-form-label-sm">Pemilik</label>
                                        <input type="text" class="form-control  form-control-sm text-body" readonly (click)="showOwner()"
                                        value="{{owner}}">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label
                                            for="inputEmail4  row-sm-3 col-form-label col-form-label-sm">Pengelola</label>
                                        <input type="text" class="form-control  form-control-sm text-body" readonly (click)="showOwner()"
                                        value="{{pengelola}}">
                                    </div>

                                </div>
                            </form>

                        </fieldset>

                        <!-- // form pilih Pengelola-->
                        <div class="container-fluid border border-danger rounded bg-select" *ngIf="selectPengelola">
                            <h3 class="mb-0"># Bidang</h3>
                            <hr style="margin-bottom: 1rem; border-top: 1px solid  #5a5353;">
                            <div class="container">
                                <table datatable [dtOptions]="dtOptionsPengelola" [dtTrigger]="dtTrigger"
                                    class="row-border hover">
                                    <thead>
                                        <tr>
                                            <th>No</th>
                                            <th>Owner</th>
                                            <th>Pengelola</th>
                                            <th>Option</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of pengelolas; index as i; let end = last">
                                            <td>{{i+1}}</td>
                                            <td>{{item.nama}}</td>
                                            <td class="tex-center">{{item.pengelola}}</td>
                                            <td>
                                                <button class="btn btn-sm btn-warning"
                                                    (click)="selectPengelolaId(item.id, item.nama, item.pengelola)">Pilih</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <br><br>
                            </div>
                        </div>

                        <br>

                        <div class="form-row">
                            <p>
                                <button class="btn btn-sm btn-primary" (click)="addData()">Simpan Data</button>
                            </p>
                        </div>
                        <br>
                    </div>


                </div>

                <!-- //Edit DATA -->
                <div class="alert alert-warning" *ngIf="editFail">{{invalidMessage}}</div>
                <div *ngIf="editStatus">
                    <div class="container-fluid">
                        <h3 class="mb-0"> # Profile</h3>
                        <hr style="margin-bottom: 1rem; border-top: 1px solid  #5a5353;">
                        <fieldset>
                            <form>
                                <div class="form-row">
                                    <div class="form-group col-md-5">
                                        <label for="inputEmail4  row-sm-3 col-form-label col-form-label-sm">Nama</label>
                                        <input type="text" [(ngModel)] ="pegawai.nama" name="nama" class="form-control  form-control-sm text-body" 
                                        value="{{pegawai.nama}}">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label
                                            for="inputPassword4 col-sm-3 col-form-label col-form-label-sm">Nip</label>
                                        <input type="text" [(ngModel)] ="pegawai.nip" name="nip" class="form-control  form-control-sm text-body"
                                        value="{{pegawai.nip}}">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-5">
                                        <label
                                            for="inputEmail4  row-sm-3 col-form-label col-form-label-sm">Email</label>
                                        <input type="text" [(ngModel)] ="pegawai.email" name="email" class="form-control  form-control-sm text-body"
                                        value="{{pegawai.email}}">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <fieldset>
                                            <label
                                                for="inputPassword4 col-sm-3 col-form-label col-form-label-sm">Bidang</label>
                                            <input type="text" class="form-control  form-control-sm text-body"
                                                (click)="showBidang()" value="{{bidangName}}" readonly>
                                        </fieldset>
                                    </div>
                                </div>
                            </form>
                        </fieldset>

                        <!-- // form pilih bidang -->
                        <div class="container-fluid border border-danger rounded bg-select" *ngIf="selectBidang">
                            <h3 class="mb-0"># Bidang</h3>
                            <hr style="margin-bottom: 1rem; border-top: 1px solid  #5a5353;">
                            <div class="container">
                                <table datatable [dtOptions]="dtOptionsBidang" [dtTrigger]="dtTrigger"
                                    class="row-border hover">
                                    <thead>
                                        <tr>
                                            <th>No</th>
                                            <th>Nama Bidang</th>
                                            <th>Keterangan</th>
                                            <th>Option</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of bidangs; index as i; let end = last">
                                            <td>{{i+1}}</td>
                                            <td>{{ item.nama_bidang }}</td>
                                            <td class="tex-center">-</td>
                                            <td>
                                                <button class="btn btn-sm btn-warning"
                                                    (click)="selectBidangId(item.id, item.nama_bidang)">Pilih</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <br><br>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputEmail4  row-sm-3 col-form-label col-form-label-sm"
                                    disable>Deskripsi</label>
                                <input type="text" class="form-control  form-control-sm text-body">
                            </div>
                        </div>
                    </div>

                    <!-- Aset -->
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col">
                                <h3 class="mb-0"> # Perangkat</h3>
                            </div>
                            <div class="col text-right">
                                <button class="btn btn-sm {{perangkatBtn}}"
                                    (click)="showHideAset()" >{{perangkatTitle}}</button>
                            </div>
                        </div>
                        <hr style="margin-bottom: 1rem; border-top: 1px solid  #5a5353;">

                        <fieldset>
                            <form *ngIf="showPerangkat">
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label
                                            for="inputEmail4  row-sm-3 col-form-label col-form-label-sm">Jenis</label>
                                        <input type="text" [(ngModel)] ="perangkat.jenis" name="jenis" class="form-control  form-control-sm text-body"
                                            value="{{perangkat.jenis}}">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label
                                            for="inputPassword4 col-sm-3 col-form-label col-form-label-sm">Merk</label>
                                        <input type="text" class="form-control  form-control-sm text-body"
                                        [(ngModel)] ="perangkat.merk" name="merk" value="{{perangkat.merk}}">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label for="inputEmail4  row-sm-3 col-form-label col-form-label-sm">Type</label>
                                        <input type="text"  class="form-control  form-control-sm text-body"
                                        [(ngModel)] ="perangkat.type" name="type" value="{{perangkat.type}}">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label
                                            for="inputPassword4 col-sm-3 col-form-label col-form-label-sm">Prosesor</label>
                                        <input type="text" class="form-control  form-control-sm text-body"
                                        [(ngModel)] ="perangkat.prosesor" name="prosesor" value="{{perangkat.prosesor}}">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label for="inputEmail4  row-sm-3 col-form-label col-form-label-sm">Operating
                                            system</label>
                                        <input type="text" class="form-control  form-control-sm text-body"
                                        [(ngModel)] ="perangkat.os" name="os" value="{{perangkat.os}}">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="inputEmail4  row-sm-3 col-form-label col-form-label-sm">RAM</label>
                                        <input type="number" class="form-control  form-control-sm text-body"
                                        [(ngModel)] ="perangkat.ram" name="ram" value="{{perangkat.ram}}">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label for="inputEmail4  row-sm-3 col-form-label col-form-label-sm">HDD</label>
                                        <input type="number" class="form-control  form-control-sm text-body"
                                        [(ngModel)] ="perangkat.hdd" name="hdd" value="{{perangkat.hdd}}">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="inputEmail4  row-sm-3 col-form-label col-form-label-sm">VGA</label>
                                        <input type="text" class="form-control  form-control-sm text-body"
                                        [(ngModel)] ="perangkat.vga" name="vga" value="{{perangkat.vga}}">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label
                                            for="inputEmail4  row-sm-3 col-form-label col-form-label-sm">Monitor</label>
                                        <input type="text" class="form-control  form-control-sm text-body"
                                        [(ngModel)] ="perangkat.monitor" name="monitor" value="{{perangkat.monitor}}">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label
                                            for="inputEmail4  row-sm-3 col-form-label col-form-label-sm">Antarmuka</label>
                                        <input type="text" class="form-control  form-control-sm text-body"
                                        [(ngModel)] ="perangkat.antarmuka" name="antarmuka" value="{{perangkat.antarmuka}}">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label for="inputEmail4  row-sm-3 col-form-label col-form-label-sm">MAC
                                            Address</label>
                                        <input type="text" class="form-control  form-control-sm text-body"
                                        [(ngModel)] ="perangkat.mac_address" name="mac_address" value="{{perangkat.mac_address}}">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="inputEmail4  row-sm-3 col-form-label col-form-label-sm">Tahun
                                            Pembuatan</label>
                                        <input type="number" class="form-control  form-control-sm text-body"
                                        [(ngModel)] ="perangkat.tahun_pembuatan" name="tahun_pembuatan" value="{{perangkat.tahun_pembuatan}}">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label
                                            for="inputEmail4  row-sm-3 col-form-label col-form-label-sm">Garansi</label>
                                        <input type="text" class="form-control  form-control-sm text-body"
                                        [(ngModel)] ="perangkat.garansi" name="garansi" value="{{perangkat.garansi}}">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label
                                            for="inputEmail4  row-sm-3 col-form-label col-form-label-sm">Status</label>
                                        <!-- <input type="text" class="form-control  form-control-sm text-body"
                                            value="{{perangkat.status_perangkat}}"> -->
                                            <select [(ngModel)] ="perangkat.status_perangkat"   value="{{perangkat.status_perangkat}}" name="status" class="form-control form-control-sm text-body" >
                                                <option>BELI</option>
                                                <option>SEWA</option>
                                              </select>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label for="inputEmail4  row-sm-3 col-form-label col-form-label-sm">Tahun Awal
                                            Operasi</label>
                                        <input type="number" class="form-control  form-control-sm text-body"
                                        [(ngModel)] ="perangkat.tahun_awal_operasi" name="tahun_awal_operasi" value="{{perangkat.tahun_awal_operasi}}">
                                    </div>

                                </div>
                            </form>
                        </fieldset>
                    </div>

                    <div class="container-fluid">
                        <div class="row">
                            <div class="col">
                                <h3 class="mb-0"> # Pengelola</h3>
                            </div>
                            <div class="col text-right">
                                <button class="btn btn-sm {{pengelolaBtn}}"
                                    (click)="showHidePengelola()">{{pengelolaTitle}}</button>
                            </div>
                        </div>
                        <hr style="margin-bottom: 1rem; border-top: 1px solid  #5a5353;">

                        <fieldset>
                            <form *ngIf="showPengelola">
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label
                                            for="inputEmail4  row-sm-3 col-form-label col-form-label-sm">Pemilik</label>
                                        <input type="text" class="form-control  form-control-sm text-body" readonly (click)="showOwner()"
                                        value="{{owner}}">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label
                                            for="inputEmail4  row-sm-3 col-form-label col-form-label-sm">Pengelola</label>
                                        <input type="text" class="form-control  form-control-sm text-body" readonly (click)="showOwner()"
                                        value="{{pengelola}}">
                                    </div>

                                </div>
                            </form>

                        </fieldset>

                        <!-- // form pilih Pengelola-->
                        <div class="container-fluid border border-danger rounded bg-select" *ngIf="selectPengelola">
                            <h3 class="mb-0"># Bidang</h3>
                            <hr style="margin-bottom: 1rem; border-top: 1px solid  #5a5353;">
                            <div class="container">
                                <table datatable [dtOptions]="dtOptionsPengelola" [dtTrigger]="dtTrigger"
                                    class="row-border hover">
                                    <thead>
                                        <tr>
                                            <th>No</th>
                                            <th>Owner</th>
                                            <th>Pengelola</th>
                                            <th>Option</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of pengelolas; index as i; let end = last">
                                            <td>{{i+1}}</td>
                                            <td>{{item.nama}}</td>
                                            <td class="tex-center">{{item.pengelola}}</td>
                                            <td>
                                                <button class="btn btn-sm btn-warning"
                                                    (click)="selectPengelolaId(item.id, item.nama, item.pengelola)">Pilih</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <br><br>
                            </div>
                        </div>

                        <br>

                        <div class="form-row">
                            <p>
                                <button class="btn btn-sm btn-warning" (click)="updateData()">Ubah Data</button>
                            </p>
                        </div>
                        <br>
                    </div>


                </div>

                <!-- //Hapus DATA -->
                <div class="alert alert-warning" *ngIf="deleteFail">{{invalidMessage}}</div>
                <div *ngIf="deleteStatus">
                    <div class="container-fluid">
                        <h3 class="mb-0"> # Profile</h3>
                        <hr style="margin-bottom: 1rem; border-top: 1px solid  #5a5353;">
                        <fieldset disabled>
                            <form>
                                <div class="form-row">
                                    <div class="form-group col-md-5">
                                        <label for="inputEmail4  row-sm-3 col-form-label col-form-label-sm">Nama</label>
                                        <input type="text" [(ngModel)] ="pegawai.nama" name="nama" class="form-control  form-control-sm text-body" 
                                        value="{{pegawai.nama}}">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label
                                            for="inputPassword4 col-sm-3 col-form-label col-form-label-sm">Nip</label>
                                        <input type="text" [(ngModel)] ="pegawai.nip" name="nip" class="form-control  form-control-sm text-body"
                                        value="{{pegawai.nip}}">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-5">
                                        <label
                                            for="inputEmail4  row-sm-3 col-form-label col-form-label-sm">Email</label>
                                        <input type="text" [(ngModel)] ="pegawai.email" name="email" class="form-control  form-control-sm text-body"
                                        value="{{pegawai.email}}">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <fieldset disabled>
                                            <label
                                                for="inputPassword4 col-sm-3 col-form-label col-form-label-sm">Bidang</label>
                                            <input type="text" class="form-control  form-control-sm text-body"
                                                (click)="showBidang()" value="{{bidangName}}" >
                                        </fieldset>
                                    </div>
                                </div>
                            </form>
                        </fieldset>

                        <!-- // form pilih bidang -->
                        <div class="container-fluid border border-danger rounded bg-select" *ngIf="selectBidang">
                            <h3 class="mb-0"># Bidang</h3>
                            <hr style="margin-bottom: 1rem; border-top: 1px solid  #5a5353;">
                            <div class="container">
                                <table datatable [dtOptions]="dtOptionsBidang" [dtTrigger]="dtTrigger"
                                    class="row-border hover">
                                    <thead>
                                        <tr>
                                            <th>No</th>
                                            <th>Nama Bidang</th>
                                            <th>Keterangan</th>
                                            <th>Option</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of bidangs; index as i; let end = last">
                                            <td>{{i+1}}</td>
                                            <td>{{ item.nama_bidang }}</td>
                                            <td class="tex-center">-</td>
                                            <td>
                                                <button class="btn btn-sm btn-warning"
                                                    (click)="selectBidangId(item.id, item.nama_bidang)">Pilih</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <br><br>
                            </div>
                        </div>

                        <div class="form-row">
                            
                            <div class="form-group col-md-6">
                                <fieldset disabled>
                                <label for="inputEmail4  row-sm-3 col-form-label col-form-label-sm"
                                    disable>Deskripsi</label>
                                <input type="text" class="form-control  form-control-sm text-body">
                            </fieldset>
                            </div>
                        </div>
                    </div>

                    <!-- Aset -->
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col">
                                <h3 class="mb-0"> # Perangkat</h3>
                            </div>
                            <div class="col text-right">
                                <button class="btn btn-sm {{perangkatBtn}}"
                                    (click)="showHideAset()" >{{perangkatTitle}}</button>
                            </div>
                        </div>
                        <hr style="margin-bottom: 1rem; border-top: 1px solid  #5a5353;">

                        <fieldset disabled>
                            <form *ngIf="showPerangkat">
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label
                                            for="inputEmail4  row-sm-3 col-form-label col-form-label-sm">Jenis</label>
                                        <input type="text" [(ngModel)] ="perangkat.jenis" name="jenis" class="form-control  form-control-sm text-body"
                                            value="{{perangkat.jenis}}">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label
                                            for="inputPassword4 col-sm-3 col-form-label col-form-label-sm">Merk</label>
                                        <input type="text" class="form-control  form-control-sm text-body"
                                        [(ngModel)] ="perangkat.merk" name="merk" value="{{perangkat.merk}}">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label for="inputEmail4  row-sm-3 col-form-label col-form-label-sm">Type</label>
                                        <input type="text"  class="form-control  form-control-sm text-body"
                                        [(ngModel)] ="perangkat.type" name="type" value="{{perangkat.type}}">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label
                                            for="inputPassword4 col-sm-3 col-form-label col-form-label-sm">Prosesor</label>
                                        <input type="text" class="form-control  form-control-sm text-body"
                                        [(ngModel)] ="perangkat.prosesor" name="prosesor" value="{{perangkat.prosesor}}">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label for="inputEmail4  row-sm-3 col-form-label col-form-label-sm">Operating
                                            system</label>
                                        <input type="text" class="form-control  form-control-sm text-body"
                                        [(ngModel)] ="perangkat.os" name="os" value="{{perangkat.os}}">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="inputEmail4  row-sm-3 col-form-label col-form-label-sm">RAM</label>
                                        <input type="number" class="form-control  form-control-sm text-body"
                                        [(ngModel)] ="perangkat.ram" name="ram" value="{{perangkat.ram}}">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label for="inputEmail4  row-sm-3 col-form-label col-form-label-sm">HDD</label>
                                        <input type="number" class="form-control  form-control-sm text-body"
                                        [(ngModel)] ="perangkat.hdd" name="hdd" value="{{perangkat.hdd}}">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="inputEmail4  row-sm-3 col-form-label col-form-label-sm">VGA</label>
                                        <input type="text" class="form-control  form-control-sm text-body"
                                        [(ngModel)] ="perangkat.vga" name="vga" value="{{perangkat.vga}}">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label
                                            for="inputEmail4  row-sm-3 col-form-label col-form-label-sm">Monitor</label>
                                        <input type="text" class="form-control  form-control-sm text-body"
                                        [(ngModel)] ="perangkat.monitor" name="monitor" value="{{perangkat.monitor}}">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label
                                            for="inputEmail4  row-sm-3 col-form-label col-form-label-sm">Antarmuka</label>
                                        <input type="text" class="form-control  form-control-sm text-body"
                                        [(ngModel)] ="perangkat.antarmuka" name="antarmuka" value="{{perangkat.antarmuka}}">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label for="inputEmail4  row-sm-3 col-form-label col-form-label-sm">MAC
                                            Address</label>
                                        <input type="text" class="form-control  form-control-sm text-body"
                                        [(ngModel)] ="perangkat.mac_address" name="mac_address" value="{{perangkat.mac_address}}">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="inputEmail4  row-sm-3 col-form-label col-form-label-sm">Tahun
                                            Pembuatan</label>
                                        <input type="number" class="form-control  form-control-sm text-body"
                                        [(ngModel)] ="perangkat.tahun_pembuatan" name="tahun_pembuatan" value="{{perangkat.tahun_pembuatan}}">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label
                                            for="inputEmail4  row-sm-3 col-form-label col-form-label-sm">Garansi</label>
                                        <input type="text" class="form-control  form-control-sm text-body"
                                        [(ngModel)] ="perangkat.garansi" name="garansi" value="{{perangkat.garansi}}">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label
                                            for="inputEmail4  row-sm-3 col-form-label col-form-label-sm">Status</label>
                                        <!-- <input type="text" class="form-control  form-control-sm text-body"
                                            value="{{perangkat.status_perangkat}}"> -->
                                            <select [(ngModel)] ="perangkat.status_perangkat"   value="{{perangkat.status_perangkat}}" name="status" class="form-control form-control-sm text-body" >
                                                <option>BELI</option>
                                                <option>SEWA</option>
                                              </select>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label for="inputEmail4  row-sm-3 col-form-label col-form-label-sm">Tahun Awal
                                            Operasi</label>
                                        <input type="number" class="form-control  form-control-sm text-body"
                                        [(ngModel)] ="perangkat.tahun_awal_operasi" name="tahun_awal_operasi" value="{{perangkat.tahun_awal_operasi}}">
                                    </div>

                                </div>
                            </form>
                        </fieldset>
                    </div>

                    <div class="container-fluid">
                        <div class="row">
                            <div class="col">
                                <h3 class="mb-0"> # Pengelola</h3>
                            </div>
                            <div class="col text-right">
                                <button class="btn btn-sm {{pengelolaBtn}}"
                                    (click)="showHidePengelola()">{{pengelolaTitle}}</button>
                            </div>
                        </div>
                        <hr style="margin-bottom: 1rem; border-top: 1px solid  #5a5353;">

                        <fieldset disabled>
                            <form *ngIf="showPengelola">
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label
                                            for="inputEmail4  row-sm-3 col-form-label col-form-label-sm">Pemilik</label>
                                        <input type="text" class="form-control  form-control-sm text-body"(click)="showOwner()"
                                        value="{{owner}}">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label
                                            for="inputEmail4  row-sm-3 col-form-label col-form-label-sm">Pengelola</label>
                                        <input type="text" class="form-control  form-control-sm text-body"(click)="showOwner()"
                                        value="{{pengelola}}">
                                    </div>

                                </div>
                            </form>

                        </fieldset>

                        <!-- // form pilih Pengelola-->
                        <div class="container-fluid border border-danger rounded bg-select" *ngIf="selectPengelola">
                            <h3 class="mb-0"># Bidang</h3>
                            <hr style="margin-bottom: 1rem; border-top: 1px solid  #5a5353;">
                            <div class="container">
                                <table datatable [dtOptions]="dtOptionsPengelola" [dtTrigger]="dtTrigger"
                                    class="row-border hover">
                                    <thead>
                                        <tr>
                                            <th>No</th>
                                            <th>Owner</th>
                                            <th>Pengelola</th>
                                            <th>Option</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of pengelolas; index as i; let end = last">
                                            <td>{{i+1}}</td>
                                            <td>{{item.nama}}</td>
                                            <td class="tex-center">{{item.pengelola}}</td>
                                            <td>
                                                <button class="btn btn-sm btn-warning"
                                                    (click)="selectPengelolaId(item.id, item.nama, item.pengelola)">Pilih</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <br><br>
                            </div>
                        </div>

                        <br>

                        <div class="form-row">
                            <p>
                                <button class="btn btn-sm btn-danger" (click)="deleteData()">Hapus Data</button>
                            </p>
                        </div>
                        <br>
                    </div>


                </div>

            </div>
        </div>
    </div>

</div>