<div class="header bg-gradient-danger pb-6 pt-5 pt-md-6">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-3 col-lg-8">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Data Change</h5>
                  <span class="h2 font-weight-bold mb-0">{{data.totalDataChange}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-chart-bar"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i>&nbsp; {{data.dataUpgrade}} Upgrade
                </span><br>
                <span class="text-danger mr-2"><i class="fa fa-arrow-down"></i>&nbsp; {{data.dataDowngrade}}
                  Downgrade</span><br>
                <span class="text-primary mr-2"><i class="ni ni-fat-delete"></i>&nbsp; {{data.dataStable}}
                  Stable</span><br>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-8">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">CLuster</h5>
                  <span class="h2 font-weight-bold mb-0">{{ data.totalCluster + 1}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                    <i class="fas fa-chart-pie"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="{{afterStyle1}} mr-2"><i class="{{afterStyle2}}"></i> {{data.curentCluster}} Curent Cluster
                  Used </span><br>
                <span class="text-primary mr-2"><i class="ni ni-collection"></i> {{data.beforecluster}} Before Cluster
                  Used </span><br>
                <span><i></i></span><br>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-8">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Data</h5>
                  <span class="h2 font-weight-bold mb-0">{{data.totalData}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                    <i class="fas fa-users"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-primary mr-2"><i class="ni ni-watch-time"></i> &nbsp;Update : {{currentDate | date:'yyyy-MM-dd'}}</span><br>
                <span><i></i></span><br>
                <span><i></i></span><br>
              </p>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--5">

  <div class="row mt-0">
    <div class="col-xl-12 mb-12 mb-xl-0">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Sumary</h3>
            </div>
            <div class="col text-right">
              <button class="btn btn-sm btn-primary" (click)="navigateToKlasifikasi()">See All</button>
              <!-- <a href="#!" class="btn btn-sm btn-primary" (click)="navigateToKlasifikasi()">See all</a> -->
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <!-- Projects table -->
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Pegawai</th>
                <th scope="col">Jenis Aset</th>
                <th scope="col">Merk</th>
                <th scope="col">Type</th>
                <th scope="col">Cluster</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody *ngIf="responseStatus">
              <tr *ngFor="let item of dataKlasifikasis">
                <td>{{ item.pengguna }}</td>
                <td>{{ item.jenis }}</td>
                <td>{{ item.merk }}</td>
                <td>{{ item.type }}</td>
                <td>{{item.recomendedCluster }}</td>
                <td>
                  <i *ngIf="getStatus(item.curentCluster,item.recomendedCluster) === 0" class="fas fa-arrow-down text-warning" title="Recomended Downgrade To Cluster - {{item.recomendedCluster }}"></i>
                  <i *ngIf="getStatus(item.curentCluster,item.recomendedCluster) === 1" class="fas fa-arrow-up text-success" title="Recomended Upgrade To Cluster - {{item.recomendedCluster }}"></i>
                  <i *ngIf="getStatus(item.curentCluster,item.recomendedCluster) === 2" class="ni ni-check-bold text-info" title="Already in Standard"></i>
              </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
</div>