<div class="header bg-gradient-danger pb-7 pt-6 pt-md-6">

</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <div class="row">
                        <div class="col">
                            <h2 class="mb-0">{{title}}</h2>
                        </div>
                        <div class="col text-right">
                            <button class="btn btn-sm btn-primary" (click)="back()">Back To Data Pengelola</button>
                        </div>
                    </div>
                    <hr>
                </div>
                <!-- add new -->
                <div class="container-fluid" *ngIf="addStatus">
                    <div class="alert alert-warning" *ngIf="addFail">Data Tidak Valid</div>
                    <fieldset>
                        <form>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="inputEmail4  row-sm-3 col-form-label col-form-label-sm">Owner</label>
                                    <input type="text" [(ngModel)]="pengelola.nama" name="nama" class="form-control  form-control-sm text-body" value="">
                                </div>
                                <div class="form-group col-md-4">
                                    <label
                                        for="inputPassword4 col-sm-3 col-form-label col-form-label-sm">Pengelola</label>
                                    <input type="text" [(ngModel)]="pengelola.pengelola" name="pengelola" class="form-control  form-control-sm text-body" 
                                        value="">
                                </div>
                            </div>
                          
                        </form>
                    </fieldset>
                    <div class="form-row">
                        <p>
                            <button class="btn btn-sm btn-primary" (click)="addData()">Tambah Data</button>
                        </p>
                    </div>

                </div>
                <!-- edit data -->
                <div class="container-fluid" *ngIf="editStatus">
                    <div class="alert alert-warning" *ngIf="updateFail">Data Tidak Valid</div>     
                    <fieldset>
                        <form>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label  class="row-sm-3 col-form-label col-form-label-sm">Owner</label>
                                    <input type="text" [(ngModel)]="pengelola.nama" name="nama" class="form-control  form-control-sm text-body" value="{{pengelola.nama}}">
                                </div>
                                <div class="form-group col-md-4">
                                    <label classs="col-sm-3 col-form-label col-form-label-sm">Pengelola</label>
                                    <input type="text" [(ngModel)]="pengelola.pengelola" name="pengelola" class="form-control  form-control-sm text-body" value="{{pengelola.pengelola}}">
                                </div>
                            </div>
                            <div class="form-row">
                                <p>
                                    <button class="btn btn-sm btn-warning" (click)="updateData()">Simpan Perubahan</button>
                                </p>
                            </div>
                        </form>
                    </fieldset>
                </div>
                <!-- Delete -->
                <div class="container-fluid" *ngIf="deleteStatus">
                    <div class="alert alert-warning" *ngIf="deleteFail">Fail To Delete Data</div>
                    <fieldset disabled>
                        <form>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="inputEmail4  row-sm-3 col-form-label col-form-label-sm">Owner</label>
                                    <input type="text" class="form-control  form-control-sm text-body" id="inputEmail4"
                                        value="{{data.pengelola}}">
                                </div>
                                <div class="form-group col-md-4">
                                    <label
                                        for="inputPassword4 col-sm-3 col-form-label col-form-label-sm">Pengelola</label>
                                    <input type="text" class="form-control  form-control-sm text-body" id="inputPassword4"
                                        value="{{data.pengelola}}">
                                </div>
                            </div>
                            
                        </form>
                        
                    </fieldset>
                    <div class="form-row">
                        <p>
                            <button class="btn btn-sm btn-danger" (click)="deleteData()">Hapus Data</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>